@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: white;
    --text: black;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: black;
        --text: white;
    }
}

body {
    color: rgb(var(--text));
    background: rgb(var(--background));
}